In [1]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns

In [3]:
df = pd.read_excel('dataset/cities.xlsx')
df.head(5)

   PostCode  PostCode_Province Name  Level
0    110000             100000  北京市      1
1    110100             110000   北京      2
2    110101             110100  东城区      3
3    110102             110100  西城区      3
4    110105             110100  朝阳区      3